---
import DucLogo from "./DucLogo.astro";
---
    <nav id="navbar">
        <div class="logo">
            <DucLogo class="nav-logo-svg" />
            <span class="logo-text">DUC ESSEN</span>
        </div>
        <ul class="nav-links" id="navLinks">
            <li><a href="#home">Start</a></li>
            <li><a href="#angebote">Angebote</a></li>
            <li><a href="#training">Training</a></li>
            <li><a href="#geschichte">Geschichte</a></li>
            <li><a href="#veranstaltungen">Events</a></li>
            <li><a href="#preise">Preise</a></li>
            <li><a href="#kontakt">Kontakt</a></li>
        </ul>
        <div class="menu-toggle" id="menuToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
